<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hello
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="member">
          <!-- form card edit -->
          <div class="card card-outline-secondary">
            <div class="card-block">
                <form class="form" role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="member.name" id="inputName" placeholder="Full name" required="" name="name">
                    </div>
                    <div class="form-group">
                        <label for="inputRole">Role</label>
                        <input type="text" class="form-control" [(ngModel)]="member.role" id="inputRole" placeholder="Role" required="" name="role">
                    </div>
                      <!--
                    <div class="form-group">
                        <button type="button"
                        (click)="updateMember(member)"
                        class="btn btn-success btn-lg float-right">Update</button>
                    </div>
                      -->
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>